*.o
*.lo
*~
libdoor.a
libdoor.la
libdoor.so
test/client-server2
test/door_call1
test/error1
test/get_unique_id
test/localserver1
test/localserver2
test/socketpair1
test/fattach
test/sun2
test/unref1
test/unref2
.libs
.dotest
install
portland-doors-*.tar.gz
